@font-face
  font-family SFProMedium
  font-style normal
  src url('fonts/SF-Pro-Display-Medium.otf')

@font-face
  font-family SFProRegular
  font-style normal
  src url('fonts/SF-Pro-Display-Regular.otf')

@font-face
  font-family SFProHeavy
  font-style normal
  src url('fonts/SF-Pro-Display-Heavy.otf')

@font-face
  font-family SFProLight
  font-style normal
  src url('fonts/SF-Pro-Display-Light.otf')

@font-face
  font-family SFProBold
  font-style normal
  src url('fonts/SF-Pro-Display-Bold.otf')

@font-face
  font-family SFProSemibold
  font-style normal
  src url('fonts/SF-Pro-Display-Semibold.otf')
