{% extends 'base.html' %}
{% load static %}
{% block title %}Bambino | Kinderverwaltung{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'verwaltung/button.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'verwaltung/tablestyle-k.css' %}" type="text/css">
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'kinderVerwaltung' %}" class="button--show">alle anzeigen</a>
        <button class="button button--login" type="submit">wählen</button>
    </form>
    {% load render_table from django_tables2 %}
        {% render_table table %}
    <nav>
      <a class="button" href="../../dashboard">zurück</a>
    </nav>
{% endblock %}
