@font-face {
  font-family: SFProMedium;
  font-style: normal;
  src: url("fonts/SF-Pro-Display-Medium.otf");
}
@font-face {
  font-family: SFProRegular;
  font-style: normal;
  src: url("fonts/SF-Pro-Display-Regular.otf");
}
@font-face {
  font-family: SFProHeavy;
  font-style: normal;
  src: url("fonts/SF-Pro-Display-Heavy.otf");
}
@font-face {
  font-family: SFProLight;
  font-style: normal;
  src: url("fonts/SF-Pro-Display-Light.otf");
}
@font-face {
  font-family: SFProBold;
  font-style: normal;
  src: url("fonts/SF-Pro-Display-Bold.otf");
}
@font-face {
  font-family: SFProSemibold;
  font-style: normal;
  src: url("fonts/SF-Pro-Display-Semibold.otf");
}
body {
  padding-bottom: 5em;
}
.kinderue__headline {
  color: #000;
  font-family: SFProHeavy;
  font-size: 3em;
  display: block;
  width: 100%;
  border-bottom: 1px solid #000;
}
.mainframe__kinderue {
  margin: 4.5em 10vw 0em 10vw;
}
.kinderue__suche {
  width: 100%;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.suche__surname {
  display: block;
  padding: 0.5em 1em;
  width: 35em;
  margin-right: 1em;
  border-radius: 2px;
  height: 3em;
  background-color: #fff;
  border: 1px solid #328cde;
}
.button--spaceout {
  margin-right: 1em;
}
.kinderue__kidgroups {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(auto-fill, minmax(15em, min-content));
  grid-gap: 1em;
}
.kidgroups__group--multi {
  width: 100%;
  height: 100%;
  grid-row: span 1;
  grid-column: span 1;
  background-color: #fff;
  box-shadow: 0em 1em 2em rgba(0,0,0,0.1);
  padding: 1em;
}
.group__kid {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}
.group__kid:hover {
  cursor: pointer;
  background-color: #fcfcfc;
}
.group__kid:not(:last-child) {
  margin-bottom: 1em;
}
.group__kid:nth-child(even) {
  background-color: #f7f7f7;
}
.kid__name {
  font-family: SFProBold;
  font-size: 1.2em;
  margin-bottom: 0.4em;
}
.kid__message {
  background-color: rgba(50,140,222,0.1);
  color: #328cde;
  border-radius: 2px;
  border: 1px solid #328cde;
  padding: 0.5em 1em;
  display: inline;
}
.kid__message--deactivate {
  background-color: #f7f7f7;
  color: #404040;
  border: 1px solid #e6e6e6;
}
.kidgroups__group--fullScreen {
  grid-column: span 2;
  grid-row: span 2;
}
