//out: login.css

@import './res/*'

body
  width 100vw
  height 100vh
  background-color lightness(black, 97%)
  display flex
  justify-content center
  flex-direction column
  align-items center
  margin 0
  padding 0
  *
    box-sizing border-box

.login__container
  width 30vw
  height auto
  background-color white
  padding 2em
  display flex
  flex-direction column
  justify-content center
  align-items space-between
  box-shadow 0em 1em 2em rgba(black, 0.1)
  border-radius 4px
  p
    width 100%
    display flex
    flex-direction row
    justify-content space-between
    font-family SFProMedium
    label
      width 20%
      height 2.5rem
      line-height 3em
    input
      width 80%
      height 2.5rem
      border 1px solid accent
      border-radius 2px
      padding-left 1em

.button--login
  width 80%
  margin-left auto
  margin-top 1em

.login__alternatives
  display flex
  flex-direction row
  justify-content flex-end
  width 80%
  margin-left auto
  margin-top 0.5em
  a
    margin-left 1em
    font-family SFProRegular
    text-decoration none
    &:first-child
      color accent
    &:last-child
      color lightness(black, 25%)
    &:hover
      opacity 0.8

.errorlist
  padding 0
  width 100%
  margin 0px
  margin-bottom 1em
  li
    list-style none
    color danger
    background-color rgba(danger, 0.2)
    border-radius 2px
    font-family SFProRegular
    padding 0.4em 0.8em
