//out: warnung.css

@import './res/*'

body
  margin 0
  height 100vh
  width 100vw
  display flex
  flex-direction column
  align-items center
  justify-content center

.warning
  width 50vw
  *
    font-family SFProMedium
    text-decoration none

h1
  font-family SFProHeavy

.warning__message--big
  font-family SFProSemibold
  font-size 1.5rem
  line-height @font-size * 1.6

.warning__message--smaller
  font-family SFProMedium
  font-size 1rem
  line-height @font-size * 1.6
  color lightness(black, 25%)

.controls
  width 50vw
  display flex
  flex-direction row
  justify-content space-evenly
  margin-top 3em
  *
    text-decoration none
